@model GroupVM
@{
    ViewData["Title"] = "Group";
}

<div class="container" style="margin-left: -75px;">
    <div class="nav bg-dark text-white row position-fixed w-100" style="z-index:1; top:0;">
        <img src="https://placehold.co/500x500/png" class="col-2 m-2 me-0" style="width:6%; border-radius:50%;"/>
        <div class="col-8 m-1 ms-0 text-truncate">
            <h1 class="mb-0">@Model.Channel.Name</h1>
            @foreach(var chatter in Model.Recipients.Take(10))
            { 
                if(chatter != Model.Recipients.Last())
                {
                    <span class="mb-2">@chatter, </span> 
                }
                else
                {
                    <span class="mb-2">@chatter</span>
                }
            }

          
        </div>

        <div class="dropdown col-2">
             <button class="btn dropdown-toggle text-white ms-5 w-25 h-75 justify-content-center mt-2" type="button" data-bs-toggle="dropdown">
             </button>

             <ul class="dropdown-menu">
                 <li>
                     <a class="dropdown-item nav-link" style="cursor: pointer;" id="inviteBtn">Invite User</a>
                 </li>
                 <li>
                     <a class="dropdown-item text-danger nav-link" style="cursor: pointer;">Leave Group</a>
                 </li>
             </ul>
        </div>

    </div>

    <div class="d-flex flex-column position-relative mb-5" style="margin-top:75px;" id="messagesContainer">
        <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center; margin-left: 100px;" id="loadMoreContainer" hidden>
            <button style="font-size:20px; background-color: #F3F5F6; padding: 0 5px; border: none;" id="loadBtn">Load More</button>
        </div>

        @foreach (var message in Model.Messages.Skip(Model.Messages.Count() - 20))
        {
            string containerStartSide, containerColor;

            if (message.UserId != Model.CurrentUserId)
            {
                containerStartSide = "form-floating";
                containerColor = "limegreen";

                <div class="row align-items-center justify-content-start @containerStartSide">
                    <div class="chat col-auto" style="background:@containerColor">
                        @message.Content

                        <span class="row ms-5 pe-2 form-floating text-black-50 justify-content-end">@message.SentAt.ToString("h:mm tt")</span>
                    </div>
                    <label class="ms-4 mt-1 text-decoration-underline ps-3">@message.UserName</label>
                </div>

            }
            else
            {
                containerStartSide = "flex-row-reverse";
                containerColor = "dodgerblue";

                <div class="row align-items-center justify-content-start @containerStartSide">
                    <div class="chat col-auto" style="background:@containerColor">
                        @message.Content

                        <span class="row ms-5 pe-2 form-floating text-black-50 justify-content-end">@message.SentAt.ToString("h:mm tt")</span>
                    </div>
                </div>
            }

            
        }
       
    </div>


    <div class="position-fixed bottom-0 w-75">
        <input asp-for="@Model.Recipients" id="recipients" value="@Html.Raw(Json.Serialize(Model.Recipients))" hidden />
        <input asp-for="@Model.Channel.Name" id="channelName" hidden/>
        <input asp-for="@Model.CurrentUserId" id="userId" hidden />
        <input asp-for="@Model.Channel.Id" id="channelId" hidden />
        <input asp-for="@Model.Messages" id="messages" value="@Html.Raw(Json.Serialize(Model.Messages))" hidden />
        <div class="row p-3 mt-4 py-2" >
            <div class="form-floating col-11" >
                <input class="form-control border-0 shadow bg-dark text-white" id="message"/>
            </div>
            <button class="btn btn-primary col-1" id="sendButton">Send</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter User Phone Number</h5>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Invite</button>
      </div>
    </div>
  </div>
</div>

@section Scripts{

    <script>
        $('#inviteBtn').click(function () {
            $('#exampleModal').modal('show');
        });
    </script>

    <script src="~/js/connectSignalR.js"></script>
    <script src="~/js/group.js"></script>
}