@model ChatVM
@{
    ViewData["Title"] = "Chat";
}

<div class="container" style="margin-left: -75px;">
    <div class="nav bg-dark text-white row position-fixed w-100" style="z-index:1; top:0;">
        <img src="https://placehold.co/500x500/png" class="col-2 m-2 me-0" style="width:6%; border-radius:50%;"/>
        <div class="col-10 m-1 ms-0">
            <h1 class="mb-0">@Model.Channel.Name</h1>
            <span class="mb-2">@User.Identity.Name, @Model.Recipient.Name</span>
        </div>

    </div>

    <div class="d-flex flex-column position-relative mb-5" style="margin-top:75px;" id="messagesContainer">

        <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center; margin-left: 100px;" id="loadMoreContainer" hidden>
            <button style="font-size:20px; background-color: #F3F5F6; padding: 0 5px; border: none;" id="loadBtn">Load More</button>
        </div>

        @foreach(var message in Model.Messages.Skip(Model.Messages.Count() - 20))
        {
            string containerStartSide, containerColor;

            if(message.UserId == Model.Recipient.Id)
            {
                containerStartSide = string.Empty;
                containerColor = "limegreen";
            }
            else
            {
                containerStartSide = "flex-row-reverse";
                containerColor = "dodgerblue";
            }

            <div class="row align-items-center justify-content-start @containerStartSide">
                <div class="chat col-auto" style="background:@containerColor">
                    @message.Content 

                    <span class="row form-floating me-1 text-black-50 justify-content-end">@message.SentAt.ToString("h:mm tt")</span>
                </div>

            </div>
        }
    </div>


    <div class="position-fixed bottom-0 w-75">

        <input asp-for="@Model.CurrentUserId" id="userId" hidden />
        <input asp-for="@Model.Channel.Id" id="channelId" hidden />
        <input asp-for="@Model.Messages" id="messages" value="@Html.Raw(Json.Serialize(Model.Messages))" hidden />
        <div class="row p-3 mt-4 py-2" >
            <div class="form-floating col-11" >
                <input class="form-control border-0 shadow bg-dark text-white" id="message" />
            </div>
            <button class="btn btn-primary col-1" id="sendButton">Send</button>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script> const hubUrl = @Json.Serialize(@Config.GetSection("AppSettings:HubUrl").Value) </script>
    <script src="~/js/connectSignalR.js"></script>
    <script src="~/js/chat.js"></script>
}

